body{
    background: #121E6D;
}

h1{
    font-family: monospace; 
    color:white;
    font-size: 25px;
}

img{
    width: 187px;
    height: 279px;
}

 .brsmall { 
            display: block; 
            margin-bottom: 0em; 
        } 

p {
    font-family: monospace;
    color: white;
}