.cards {
    margin: 0px auto; 
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
    gap: 20px;
    font-family: sans-serif;
}

.Card { box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);}

.card_image {
    width: 100%;
    display: block;
}
.card_content {
    background: #fafafa;

}

.links {
    color: white;
    font-weight: bold;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  
  .active {
    background-color: #04AA6D;
  }

  .vids { 
    margin-left: 10%;
  }
  body {
    margin: 4px;
    background-color: black;
  }

  p {
    color: white;
  }

  .cards_info{
    color: white;
  }